<header>
  <nav>
    <ul class="align">
      <li><a routerLink="/"><img src="../../../assets/img/logo.png" width="60"></a></li>
      <li><a (click)="scrollTo('#home')">ACUTE AUTOMATION PTE LTD</a></li>
      <li class="w5"></li>
      <li><a (click)="scrollTo('#home')">Home</a></li>
      <li><a (click)="scrollTo('#about')">About</a></li>
      <li><a (click)="scrollTo('#services')">Services</a></li>
      <li><a (click)="scrollTo('#Projects')">Projects</a></li>
      <li><a (click)="scrollTo('#contact')">Contact us</a></li>
      <!-- Add more navigation links as needed -->
    </ul>
  </nav>
</header>
<div class="image-container" id="home">
  <img src="../../../assets/img/banner.png">
  <div class="img-text">Automation, Calibration and Water<br>Treatment</div>
</div>

<div  class="container"  id="about">
  <div class="row">
    <div class="about col-lg-6 p-0">
      <h1 >About us</h1>
      <p class="hor-line"></p>
    </div>
    <div class="col-lg-6 p-0 about-us">
      <img src="../../../assets/img/circle-button.png" class="circle-button" width="50">
      <p>We cover a large range of creative projects,
        platforms, & campaigns with one purpose -
        create value</p>
      <p><span >Acute Automation Pte Ltd</span> was established in 2013
        provide the high quality control and automation
        solutions for required industry. We focuses on a system
        integrator for a wide spectrum of industries in cost
        effective manner. Acute Automation Pte Ltd provide
        process control solutions that utilize SCADA, distributed
        control systems, programmable logic controllers (PLCs),
        motors, drives and plant transducers. Many of our
        critical solutions are used in highly integrity
        environments such as oil & gas, waste water treatment
        plant, with client processes being wholly dependent on
        the control system</p>
    </div>
  </div>
</div>
<hr>
<!-- services -->
<div class="container service" id="services">
  <h2>Services</h2>
  <div class="row">
    <div class="col-lg-6 serviceImg">
      <img src="../../../assets/img/serviceImg-1.png" width="300px">
    </div>
    <div class="col-lg-6">
      <span>#1</span><br>
      <p class="sub-head">PLC >></p>
      <p>SCADA/PLC/DDC<br>

        We specialize in PLC, SCADA, and DDC programming, delivering
        tailored solutions for industrial automation and control systems.
        Our expert team ensures reliability, efficiency, and seamless
        integration, empowering your operations to thrive. Get in touch
        today to streamline your processes and maximize productivity</p>
      <button class="btn readMore-btn">Read More</button>
    </div>

  </div>
  <div class="row pt-100">
    <div class="col-lg-6">
      <span>#2</span><br>
      <p class="sub-head">Indusrial Calibration >></p>
      <p>Calibration we excel in instrument calibration,
        ensuring accuracy and reliability in your
        measurement equipment. Our expert
        technicians meticulously calibrate instruments
        to industry standards, guaranteeing optimal
        performance in critical processes. Trust us to
        calibrate your instruments with precision,
        enhancing the quality and efficiency of your
        operations.</p>
      <button class="btn readMore-btn">Read More</button>
    </div>
    <div class="col-lg-6 serviceImg">
      <img src="../../../assets/img/serviceImg-2.png" width="300px">
    </div>
  </div>
  <div class="row pt-100">
    <div class="col-lg-6 serviceImg">
      <img src="../../../assets/img/serviceImg-3.png" width="300px">
    </div>
    <div class="col-lg-6">
      <span>#3</span><br>
      <p class="sub-head">Field Cable Installation >></p>
      <p>Field Installation we specialize in expert field
        cable installation, ensuring reliable connectivity
        for your industrial systems. Our skilled
        technicians meticulously install and manage
        cables, optimizing signal integrity and
        minimizing downtime. Trust us to deliver
        seamless connectivity solutions, empowering
        your operations to thrive.</p>
      <button class="btn readMore-btn">Read More</button>
    </div>
  </div>
</div>
<hr>

<!-- Projects section -->
<div class="container" id="Projects">
  <div class="head"><h1>Projects</h1></div>
<div class="photo-grid pt-100">
  <div>
  <img src="../../../assets/img/projectsImg-1.png" alt="Image 1">
  <p>Resorts World Sentosa</p>
</div>
<div>
  <img src="../../../assets/img/projectsImg-2.png" alt="Image 2">
  <p>Global Foundries</p>
</div>
<div>
  <img src="../../../assets/img/projectsImg-3.png" alt="Image 3">
<p>Tan Toc Seng Hospital</p>
</div>
<div>
  <img src="../../../assets/img/projectsImg4.png" alt="Image 4">
  <p>Air Liquide</p>
</div>
<div>
  <img src="../../../assets/img/projectsImg5.png" alt="Image 5">
  <p>Pfizer</p>
</div>
<div>
  <img src="../../../assets/img/projectsImg-6.png" alt="Image 6">
  <p>SSMC</p>
</div>
</div>
</div>
<hr>

<div class="container">
  <div class="head"><h1>Clients</h1></div>
  <div class="client-grid pt-100">
    <div>
    <img src="../../../assets/img/clientsImg-1.png" alt="Image 1">
  </div>
  <div>
    <img src="../../../assets/img/clientsImg-2.png" alt="Image 2">
  </div>
  <div>
    <img src="../../../assets/img/clientsImg-3.png" alt="Image 3">
  </div>
  <div>
    <img src="../../../assets/img/clientsImg-4.png" alt="Image 4">
  </div>
  <div>
    <img src="../../../assets/img/clientsImg-5.png" alt="Image 5">
  </div>
  <div>
    <img src="../../../assets/img/clientsImg-6.png" alt="Image 6">
  </div>
  <div>
    <img src="../../../assets/img/clientsImg-7.png" alt="Image 6">
  </div>
  <div>
    <img src="../../../assets/img/clientsImg-8.png" alt="Image 6">
  </div>
  </div>
  <div class="clientImg">
    <img src="../../../assets/img/clientsImg-9.png" class="clientImg-9">
  </div>
</div>
<footer id="contact">
  <p>Acute Automation PTE LTD</p>
  <p>sales@acute-automation.com</p>
  <p>+65-94881436    +65 92970455</p>
  <p>#03-10<br>
    23 Tagore Lane, Singapore,</p>
    <p>Copyright © 2024 Acute Automation Pte Ltd</p>
    <div class="arrow-up">
      <img src="../../../assets/img/up-arrow.png" width="50" (click)="scrollTo('#home')">
    </div>
</footer>