header {
    background-color: #fff;
    width: -webkit-fill-available;
    color: #000000;
    z-index: 5;
    position: fixed;
  }
  
  ul.align {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    justify-content: space-evenly;
    font-size: 20px;
    li {
      margin-right: 20px;
      cursor: pointer;
    }
    li:last-child {
      margin-right: 0;
    }
  } 
  
  .desktop-nav {
    display: block;
  }
  
  .mobile-nav {
    display: none;
  }
  .nav-small {
    justify-content: space-between;
  }
  
  .menu-toggle {
    cursor: pointer;
    display: block;
    padding: 30px;
    span {
      background-color: #2f2525;
      display: block;
      height: 4px;
      margin-bottom: 5px;
      transition: box-shadow 0.15s ease-in-out;
      width: 30px;
    }
  }
  .nav-img{
    align-items: center;
    display: flex;
    padding: 20px;
  }
  
  .none {
    display: none !important;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    width: 400px;
    height: 85vh;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    font-weight: 600;
    display: inline-block;
    background: #fff;

    .open {
      display: block;
    }
    a {
      text-decoration: none;
    }
    li {
      margin-bottom: 10px;
    }
  }

  .mobilenav-head{
    display: flex;
    align-items: center;
    font-size: 3.9vw;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
  
  .close-sidebar {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    background-color: #fff6f6;
    color: #ee3737;
    border-radius: 5px;
  }
  .hide {
    display: none;
  }

  @media screen and (max-width: 992px) {
    header {
      padding: 0;
    }
    .desktop-nav {
      display: none;
    }
  
    .mobile-nav {
      display: flex;
    }
    nav {
      text-decoration: none;
      
    }
  
    .menu.open {
      display: block;
    }
    nav ul {
      font-size: 22px;
      padding: 30px;
      list-style: none;
      /* padding-left: 30px; */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .off-canvas-top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    }
    .off-canvas-top a {
      text-decoration: none;
      color: #000000;
      font-size: 14px;
    }
  }
  video {
    object-fit: cover;
    width: 100%;
    position: absolute;
    z-index: 1;

  }
  .fade {
    opacity: .5;
  }
 
  .vedio-container {
    height: 100vh;
    position: relative;
  }

  .Banner-down img {
    max-width: 100%;
  }

.w5 {
  width: 5%;
}
.pt-100 {
    padding-top: 100px;
}
.w100 {
  width: 110px;
}
.w50 {
  width: 50px;
}
.pt-40 {
  padding-top: 40px;
}
.p-30 {
  padding: 30px;
}
.p-40 {
  padding: 40px;
}
.p-70 {
  padding: 70px;
}
.con-banner {
    top: 105%;
    position: absolute;
    z-index: 3;
}
.container{
    padding-top: 150px;
}
.about-box{
  padding-top: 60px;
  img {
    width: 300px;
    height: 44vh;
  }
}
.about-box_name {
  text-align: center;
  background: #fff;
  padding: 22px;
  font-weight: 600;
  font-size: 0.79rem;
}
.about .hor-line {
    height: 1px;
    background-color: #FF6E40;
    width: 43%;
}
.hor-line {
    height: 1px;
    background-color: #FF6E40;
    width: 20%;
  }
.circle-button{
    margin-top: 30px;
}
.btn{
    background-color: aqua;
    border-radius: 15px 
}
.about h1 {
    color: #000000;
    font-weight: 600;
}
.about-outbox{
  padding: 100px;
  background-color: #edf6f9;
}
.banner-con{
  padding: 20px;
  display: none;
}
.org-box {
  background-color: #FF6E40;
  width: 35%;
    height: 30%;
    position: relative;
    bottom: 43%;
    left: 53%;
    z-index: -1;
}
.about-us {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.service{
span {
  color: #DEDEDE;
  font-size: 24px;
}
} 
.sub-head{
    font-weight: 600 !important;
}
.serviceImg {
  width: 100%;
  border-radius: 30px;
}
.service-inner {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 12px;
    padding: 50px;
}
.service-inner2{
  margin-top: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 30px;
}
.service-subhead{
  text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    margin-bottom: 20px;

    p {
      font-weight: 600;
      font-size: 16px;
      margin: 0;
    }
}
  footer {
    background-color: #EDF6F9;
    height: 400px;
    color: #FF6E40; 
    line-height: 35px;
    padding: 100px;
    font-weight: 600;
    span {
      color: #C8C8C8;
    }
    .arrow-up {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
    }
  } 
  .project-container{
    background: black;
    padding: 100px;
    color: #fff;
    img {
      width: 100%;
      height: 35vh;
    }
  }

  .con {
    text-align: center;
    display: flex;
    line-height: 50px;
    flex-direction: column;
    .row {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .shadow{
    border-radius: 20px;
    height: 25vh;
    width: 25%;
    justify-content: center;
    display: flex;
  }
  .clients-con{
    padding: 100px;
    img {
      max-width: 100%
    }
  }
.Copyright{
    text-align: center;
    top: 45%;
    background-color: #EDF6F9;
}
.cert-box {
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
@media (max-width: 1440px) {
  .con-banner{
    top: 67%;
  }
}
@media (max-width:768px) {
.shadow {
  width: 100%;
}
.p-40 {
  padding: 60px;
}
.pt-40 {
  padding: 0;
}
.clients-con img {
  max-width: 50%;
}
}

@media (max-width: 1024px) {
  nav ul {
    font-size: 15px;
  }
  video {
    height: 100%;
  }
  .org-box{
    bottom: 50%;
    left: 48%;
  }
  footer {
    font-size: 12px;
  }
  .cert-img {
    width: 150px;
  }
  .Copyright {
    font-size: 12px;
  }
  .con-banner {
    top: 90%;
  }
}
@media (max-width: 992px) {
  .Banner-down{
    display: none;
  }
  .project-container img {
    width: 50%;
    height: auto;
  }
  .about-box img {
    height: auto;
  }
  .shadow {
    height: auto;
  }
  .about-us {
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .shadow {
    width: 100%;
  }
  .service {
    padding: 50px;
  }
  .about-box_name {
    padding: 10px;
  }
  .about-box img {
    height: 25vh;
  }
  .project-container img {
    height: auto;
    width: 100%;
  }
  .shadow {
    height: auto;
  }
  .menu {
    width: 100%;
  }
  footer {
    height: 300px;
    line-height: 12px;
    padding: 50px;
  }
  footer img {
    width: 50px;
  }
  .cert-img {
    width: 50px;
  }
  .arrow-up {
    display: none;
  }
}
@media (max-width: 481px) {
  .about-outbox {
    padding: 45px;
  }
}
@media (max-width: 580px) {
  .clients-con img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-devic-pixel-ratio: 1.5) and (orientation: portrait){
  .con-banner {
    top: 91%;
  }
}


  
